pymupdf
paddleocr
paddlepaddle

pillow

transformers
sentence-transformers

langchain
langchain-huggingface
langchain-community
langchain-text-splitters

faiss-cpu
torch
bitsandbytes

openai
langchain-openai

python-dotenv

docling 
docling-core